<ul>
    {% if data %}
        {% for item in data %}
            <li class="list-item" data-id="{{ item.ID }}">
                <img src="" data-src="{{ url_for('static', filename='images/toy2.webp') }}" loading="lazy" class="item-image" height="90">
                <div class="item-data-container">
                    <div class="item-data">
                        <div class="data-row">
                            <strong class="name">{{ item.MODEL }}</strong>
                        </div>
                        <div class="data-row">
                            <span class="id black">{{ item.ID }}</span>
                            <span class="model_series gray">{{ item.MODEL_SERIES }}</span>
                        </div>
                    </div>
                </div>
                <img src="{{ url_for('static', filename='images/alt-arrow-right.svg') }}"  loading="lazy" height="24" width="24">
            </li>
        {% endfor %}
    {% else %}
        <li class="no-results">Ничего не найдено</li>
    {% endif %}
</ul>