<ul>
    {% if data %}
        {% for item in data %}
            <li class="list-item" data-id="{{ item.ID }}">
                <img src="" data-src="{{ url_for('static', filename='images/toy1.webp') }}" loading="lazy" class="item-image" height="90">
                <div class="item-data-container">
                    <div class="item-data">
                        <div class="data-row">
                            <strong class="name">{{ item.EQUIPMENT_MODEL }}</strong>
                        </div>
                        <div class="data-row">
                            <span class="host_name black">{{ item.HOST_NAME }}</span>
                            <span class="platform_address gray">{{ item.PLATFORM_ADDRESS }}</span>
                            <span class="inventory_number gray">{{ item.INVENTORY_NUMBER }}</span>
                        </div>
                    </div>
                </div>
                <img src="{{ url_for('static', filename='images/alt-arrow-right.svg') }}" loading="lazy" height="24" width="24">
            </li>
        {% endfor %}
    {% else %}
        <li class="no-results">Ничего не найдено</li>
    {% endif %}
</ul>